@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #root { overscroll-behavior: none; height: 100%; }
  #root { width: 100%;}
  body { margin: 0; background: transparent;}
}